
<h1 class='title'>52Finds</h1>


<img class='homepage-pic' src="https://static.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg" alt="stock photo of child">

<p class='startp'>Welcome to 52Finds! The website to help you locate your suitable college savings program. There are over one hundred 529 plan managers in the US with each having an array of portfolios you can choose from. With a few simple questions we help narrow down the selections for you.</p>




<a href="/map" class="start btn btn-primary btn-lg">Let's get started!</a>
