
<h1 class='title'>5-2-Finds</h1>


<img class='homepage-pic' src="https://static.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg" alt="stock photo of child">

<p class='startp'>Welcome to 52Finds! The website to help you locate your suitable college savings program. There are over one hundred 529 plan managers in the US with each having an array of portfolios you can choose from. With a few simple questions we help narrow down the selections for you.</p>




<a href="/map" class="start btn btn-primary btn-lg">Let's get started!</a>

<div class="homepageBottom container-fluid">
<div class="col-md-4"> <img class='pic1' src="https://static.pexels.com/photos/186461/pexels-photo-186461.jpeg" alt="stock">
<h3 style='text-align:center;'>Pick the best broker plan near you</h3>
</div>
<div class="col-md-4"> <img class='pic2' src="https://static.pexels.com/photos/9660/business-money-pink-coins.jpg" alt="piggy bank">
<h3 style='text-align:center;'>Only 3 simple steps can end up saving you hundreds</h3>
</div>
<div class="col-md-4"> <img class='pic3' src="https://static.pexels.com/photos/87324/pexels-photo-87324.jpeg" alt='kid on swing'>
<h3 style='text-align:center;'>Start saving today for your childs future</h3>
</div>
</div>
