
<h1 class='maintitle'>5-2-Finds</h1>

<div class="parallax"></div>

<!-- <img class='homepage-pic' src="https://static.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg" alt="stock photo of child"> -->
<div class="welcomebody">

<div class="welcome">
  <p class='startp' style='font-size: 25px;'>Welcome to 52Finds! The website to help you locate your suitable college savings program. There are over one hundred 529 plan managers in the US with each having an array of portfolios you can choose from. With a few simple questions we help narrow down the selections for you.</p>
</div>





<a href="/map" class="start btn btn-primary btn-lg">Let's Get Started!</a>
<!-- /.row -->

<hr>

<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="https://static.pexels.com/photos/186461/pexels-photo-186461.jpeg" alt="">
        <h2 class='bottompic'>Pick A Broker</h2>
        <p class='bottompic'>Pick the best advisor sold plan in America for you and your family.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="https://static.pexels.com/photos/9660/business-money-pink-coins.jpg" alt="">
        <h2 class='bottompic'>Start Saving Today</h2>
        <p class='bottompic'>College prices have been going up constanly for 30 years. Be ahead of the pack and start saving today.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="https://static.pexels.com/photos/87324/pexels-photo-87324.jpeg" alt="">
        <h2 class='bottompic'>Only Three Steps</h2>
        <p class='bottompic'>In less than 5 minutes we can get you saving hundreds of dollars!</p>
    </div>
</div>

</div>
