<!DOCTYPE html>

  <head>
    <title>52Finds</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js'></script>
<link rel="shortcut icon" href="../images/cap.png" type='image/png'>

<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">5-2-Finds</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#"><div class='cap'></div><span class="sr-only"></span></a></li>
          <li><a href="#"></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li> <img src="../images/whitecap.png" alt="white cap logo" style="margin-bottom: -5vh;"> <a href="/"></a></li>
        </ul>
      </div>
    </div>
  </nav>

    {{{body}}}


   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src='/javascripts/main.js'></script>
  </body>

</html>
