<h1 class='heading'>Pick a State</h1>


<h4 class='text'>To help pick the most suitable plan please pick the state account owner live in. It does not matter where the future student lives or where they plan on going to school. We only need to know the state the account owner pays to.</h4>

<iframe class='map' src="https://www.makeaclickablemap.com/map.php?13b10bfb0e10f52eaaff074590fd50c208e00503" frameborder="0" scrolling="no" height="674" width="898"></iframe>



<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1 info">Full State Tax Deduction</div>
  <div class="col-md-1"></div>
  <div class="col-md-1 active">State Tax Deduction > $10K</div>
  <div class="col-md-1"></div>
  <div class="col-md-1 success">State Tax Deduction < $10K</div>
  <div class="col-md-1"></div>
  <div class="col-md-1 warning">No 529 Deduction</div>
  <div class="col-md-1"></div>
  <div class="col-md-1 danger">No State Tax</div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>
