<h1 class='title'>No 529 Plans </h1>


<h3 class='statetext'> {{data.name}} does not offer any 529 plans and since you don't pay taxes nor do they have a 529 plan. So we'll move you ahead to find your best plan</h3>



<a class="btn btn-primary btn-lg next" href='/statebrokerquestion/{{data.id}}'>Next</button>
