

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*Homepage*/
.heading{
  display: flex;
  justify-content: center;
}
.text{
  display: block;
  width: 80vw;
  margin: auto;
}
.title{
  display: flex;
  justify-content: center;
}
.cap{
  background-image: url('../images/whitecap.png')
}


.homepage-pic{
display: block;
margin-left: auto;
margin-right: auto;
height: 459px;
width: 688px;
}

.homepageBottom{
  display: flex;
  justify-content: space-between;
  margin-top: 25vh;
  margin-left: 5vw;
}

.pic1{
  border: 3px solid black;
  border-color: black;
  border-radius: 200px;
  height: 380px;
  width: 380px;
}
.pic2{
  border: 3px solid black;
  border-radius: 200px;
  height: 380px;
  width: 380px;
}
.pic3{
  border: 3px solid black;
  border-radius: 200px;
  height: 380px;
  width: 380px;
}
.start{
display: block;
margin: auto;
margin-top: 10vh;
width: 25%;
}
.welcome{
  text-align: center;
}
p.startp{
  font-size: 25px;
}

.startp{
  margin-top: 5vh;
}

.map{
  display: block;;
  align-items: center;
  margin: auto;
  width: 898px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  background-color: #217DBB;
}
.active{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  background-color: #ECF0F1;
}
.success{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  background-color: #18BC9C;
}

.warning{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  background-color: #E08E0B;
}

.danger{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  background-color: #E74C3C;
}

.brokerquestiondiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.advisorbutton{
  margin-right: 2vw;
}
.brokerbuttons{
  display: flex;
  justify-content: center;
}
.brokertext{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}
.brokertitle{
  display: flex;
  justify-content: center;
}
.key{
  text-align: center;
  width: 50vw;
  margin: auto;
}

/*state*/
.next{
  display: block;
  margin: auto;
  margin-top: 15vh;
  width: 20vw;
}

.statetext{
  text-align: center;
  display: block;
  margin: auto;
  width: 90vw;
}
/*Advisors page*/
.babypic{
height: 266px;
width: 400px;
}

.statetext{
display: flex;
justify-content: center;
margin-top: 3vh;
margin-bottom: 3vh;
}

.kidpic{
  height: 266px;
  width: 400px;
}

.teen{
  height: 266px;
  width: 400px;
}

.agebutton{
  margin-top: 3vh;
  width: 15vw;
}
.age-text{
  display: flex;
  justify-content: center;
}
/*results*/
.resulttextdiv{
  display: flex;
  justify-content: center;
}

.returnnumber{
  font-weight: bold;
}

.returnresults{
  display: flex;
  justify-content: center;
}
.graphdiv{
  margin-right: 15vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.graph{
  display: block;
  margin-top: 20vh;
}

.leftaxisdiv{
  margin-right: 2vw;
  margin-top: 7vh;
}

.visitlink{
  display: block;
  margin: auto;
  margin-top: 10vh;
  width: 20vw;
}
#mycanvas{
display: block;
align-items: center;
margin: auto;
width: 500px;
}
.graphkey{
  color: white;
}

.leftaxis{
  margin-right: -5vh;
  margin-top: 25vh;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.footer{
  text-align: center;
}
