body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.title{
  display: flex;
  justify-content: center;
}
.homepage-pic{
display: block;
margin-left: auto;
margin-right: auto;
height: 459px;
width: 688px;
}

.start{
display: block;
margin: auto;
margin-top: 10vh;
width: 25%;
}

.startp{
  margin-top: 5vh;
}
